.caseStudiesSec {
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 800px;
  position: relative;
  &::before {
    content: "";
    background: linear-gradient(270deg, rgba(12, 18, 49, 0.8) 0%, #0c1231 100%);
    opacity: 0.9;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 0;
  }
  .embla {
    .embla__viewport {
      overflow: hidden;
      .embla__container {
        display: flex;
        touch-action: pan-y pinch-zoom;
        .embla__slide {
          transform: translate3d(0, 0, 0);
          flex: 0 0 100%;
          min-width: 0;
          position: relative;
          .caseContainer {
            position: relative;
            z-index: 1;
            display: flex;
            justify-content: center;
            align-items: center;
            .caseContent {
              flex: 0 0 50%;
              h2 {
                color: #fff;
                margin-bottom: 10px;
              }
              p {
                color: #fff;
              }
              a {
                background: #ff0004;
                border-radius: 10px;
                min-width: 210px;
                width: auto;
                height: 55px;
                margin: 10px 0 0 0px;
                transition: background 0.3s, font-weight 0.3s;
                display: inline-flex;
                justify-content: center;
                align-items: center;
                font-style: normal;
                font-weight: 500;
                font-size: 20px;
                line-height: 35px;
                color: #ffffff;
                padding: 0px 25px;
                &:hover {
                  background: #ffffff;
                  transition: background 0.3s, font-weight 0.3s;
                  color: #ff0004;
                }
              }
            }
            .caseImage {
              flex: 0 0 50%;
              text-align: right;
              img {
                padding: 20px;
                max-width: 90%;
              }
            }
          }
        }
      }
    }
  }
  .embla_container {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: 30px;
    gap: 10px;

    div {
      height: 40px;
      width: 40px;
      border-radius: 100px;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      border: 1px solid #fff;

      svg {
        height: 16px;
        path {
          fill: #fff;
        }
      }

      &:hover {
        transition: 0.3s linear;
        border: 1px solid #ff0004;
        background: #ff0004;
        svg {
          path {
            fill: #fff;
          }
        }
      }

      &.embla_prev {
        svg {
          transform: rotate(-180deg);
        }
      }
    }
  }
}

@media only screen and (min-width: 1400px) and (max-width: 1600px) {
  .caseStudiesSec {
    height: 650px;
    .embla {
      .embla__viewport {
        .embla__container {
          .embla__slide {
            .caseContainer {
              .caseContent {
                flex: 0 0 50%;
                a {
                  min-width: 210px;
                  height: 50px;
                  font-size: 18px;
                  line-height: 22px;
                  padding: 0px 25px;
                }
              }
              .caseImage {
                flex: 0 0 50%;
                img {
                  padding: 20px;
                }
              }
            }
          }
        }
      }
    }
    .embla_container {
      margin-top: 30px;
      gap: 10px;

      div {
        height: 40px;
        width: 40px;

        svg {
          height: 16px;
        }
      }
    }
  }
}
@media only screen and (min-width: 1300px) and (max-width: 1399px) {
  .caseStudiesSec {
    height: 650px;
    .embla {
      .embla__viewport {
        .embla__container {
          .embla__slide {
            .caseContainer {
              .caseContent {
                flex: 0 0 50%;
                a {
                  min-width: 210px;
                  height: 50px;
                  font-size: 18px;
                  line-height: 22px;
                  padding: 0px 25px;
                }
              }
              .caseImage {
                flex: 0 0 50%;
                img {
                  padding: 15px;
                }
              }
            }
          }
        }
      }
    }
    .embla_container {
      margin-top: 25px;
      gap: 10px;

      div {
        height: 40px;
        width: 40px;

        svg {
          height: 16px;
        }
      }
    }
  }
}
@media only screen and (min-width: 1100px) and (max-width: 1299px) {
  .caseStudiesSec {
    height: 520px;
    .embla {
      .embla__viewport {
        .embla__container {
          .embla__slide {
            .caseContainer {
              .caseContent {
                flex: 0 0 50%;
                a {
                  min-width: 210px;
                  height: 50px;
                  font-size: 18px;
                  line-height: 22px;
                  padding: 0px 25px;
                }
              }
              .caseImage {
                flex: 0 0 50%;

                img {
                  padding: 15px;
                }
              }
            }
          }
        }
      }
    }
    .embla_container {
      margin-top: 25px;
      gap: 10px;

      div {
        height: 40px;
        width: 40px;

        svg {
          height: 16px;
        }
      }
    }
  }
}
@media only screen and (min-width: 900px) and (max-width: 1099px) {
  .caseStudiesSec {
    height: 520px;
    .embla {
      .embla__viewport {
        .embla__container {
          .embla__slide {
            .caseContainer {
              .caseContent {
                flex: 0 0 50%;
                a {
                  min-width: 200px;
                  height: 50px;
                  font-size: 16px;
                  line-height: 20px;
                  padding: 0px 25px;
                }
              }
              .caseImage {
                flex: 0 0 50%;

                img {
                  padding: 15px;
                }
              }
            }
          }
        }
      }
    }
    .embla_container {
      margin-top: 25px;
      gap: 10px;

      div {
        height: 35px;
        width: 35px;

        svg {
          height: 14px;
        }
      }
    }
  }
}
@media only screen and (min-width: 768px) and (max-width: 899px) {
  .caseStudiesSec {
    height: 100%;
    padding: 40px 0px;
    .embla {
      .embla__viewport {
        .embla__container {
          .embla__slide {
            .caseContainer {
              .caseContent {
                flex: 0 0 50%;
                a {
                  min-width: 200px;
                  height: 45px;
                  font-size: 16px;
                  line-height: 20px;
                  padding: 0px 25px;
                }
              }
              .caseImage {
                flex: 0 0 50%;

                img {
                  padding: 15px;
                }
              }
            }
          }
        }
      }
    }
    .embla_container {
      margin-top: 25px;
      gap: 10px;

      div {
        height: 35px;
        width: 35px;

        svg {
          height: 14px;
        }
      }
    }
  }
}
@media only screen and (min-width: 576px) and (max-width: 767px) {
  .caseStudiesSec {
    height: 100%;
    padding: 40px 0px;
    .embla {
      .embla__viewport {
        .embla__container {
          .embla__slide {
            .caseContainer {
              .caseContent {
                flex: 0 0 50%;
                a {
                  min-width: 200px;
                  height: 45px;
                  font-size: 16px;
                  line-height: 20px;
                  padding: 0px 25px;
                }
              }
              .caseImage {
                flex: 0 0 50%;

                img {
                  padding: 15px;
                }
              }
            }
          }
        }
      }
    }
    .embla_container {
      margin-top: 25px;
      gap: 10px;

      div {
        height: 35px;
        width: 35px;

        svg {
          height: 14px;
        }
      }
    }
  }
}
@media only screen and (min-width: 0px) and (max-width: 575px) {
  .caseStudiesSec {
    height: 100%;
    padding: 40px 0px;
    .embla {
      .embla__viewport {
        .embla__container {
          .embla__slide {
            .caseContainer {
              flex-wrap: wrap;
              .caseContent {
                flex: 0 0 100%;
                a {
                  min-width: 200px;
                  height: 45px;
                  font-size: 16px;
                  line-height: 20px;
                  padding: 0px 25px;
                }
              }
              .caseImage {
                flex: 0 0 100%;
                margin-top: 20px;
                text-align: center;
                img {
                  padding: 0px;
                }
              }
            }
          }
        }
      }
    }
    .embla_container {
      margin-top: 25px;
      gap: 10px;

      div {
        height: 35px;
        width: 35px;

        svg {
          height: 14px;
        }
      }
    }
  }
}
