.thanksSection{
    height: 100vh;
    h1{
    color: #000000;
    }
    .commonBtn {
    width: 200px;
    height: 56px;
    background: #ff0004;
    border-radius: 10px;
    display: flex;
    align-items: center;
margin: auto;
    a {
      width: 100%;
      height: 100%;
      color: #fff;
      display: flex;
      justify-content: center;
      border-radius: 10px;
      align-items: center;
      font-style: normal;
      font-weight: 700;
      font-size: 20px;
      line-height: 35px;
      position: relative;
      padding-left: 35px;
      span {
        width: 30px;
        height: 30px;
        background: #fff;
        border-radius: 100px;
        position: absolute;
        left: 15px;
        transform-origin: center;
        animation: pulseSize 2s ease-in-out infinite;
      }

      @keyframes pulseSize {
        0% {
          transform: scale(0.2);
        }
        50% {
          transform: scale(1);
        }
        100% {
          transform: scale(0.2);
        }
      }
    }
  }
}