.singleCaseSec {
  height: 700px;
  padding-top: 100px;
  .subtitle {
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 30px;
    color: #ff0004;
    margin-bottom: 10px;
  }
  h1 {
    color: #000;
    font-size: 50px;
    line-height: 60px;
  }
}

@media only screen and (min-width: 1400px) and (max-width: 1600px) {
  .singleCaseSec {
    height: 700px;
    padding-top: 70px;
    .subtitle {
      font-size: 20px;
      line-height: 28px;
    }
    h1 {
      color: #000;
      font-size: 42px;
      line-height: 50px;
      margin-bottom: 10px;
    }
  }
}
@media only screen and (min-width: 1300px) and (max-width: 1399px) {
  .singleCaseSec {
    height: 700px;
    padding-top: 50px;
    .subtitle {
      font-size: 20px;
      line-height: 28px;
    }
    h1 {
      color: #000;
      font-size: 40px;
      line-height: 48px;
      margin-bottom: 10px;
    }
  }
}
@media only screen and (min-width: 1100px) and (max-width: 1299px) {
  .singleCaseSec {
    height: 700px;
    padding-top: 30px;
    .subtitle {
      font-size: 18px;
      line-height: 24px;
    }
    h1 {
      color: #000;
      font-size: 36px;
      line-height: 42px;
      margin-bottom: 10px;
    }
  }
}
@media only screen and (min-width: 900px) and (max-width: 1099px) {
  .singleCaseSec {
    height: 650px;
    padding-top: 0px;
    .subtitle {
      font-size: 18px;
      line-height: 24px;
    }
    h1 {
      color: #000;
      font-size: 32px;
      line-height: 40px;
      margin-bottom: 10px;
    }
  }
}
@media only screen and (min-width: 768px) and (max-width: 899px) {
  .singleCaseSec {
    height: 600px;
    padding-top: 0px;
    .subtitle {
      font-size: 16px;
      line-height: 22px;
    }
    h1 {
      color: #000;
      font-size: 30px;
      line-height: 35px;
      margin-bottom: 10px;
    }
  }
}
@media only screen and (min-width: 576px) and (max-width: 767px) {
  .singleCaseSec {
    height: auto;
    padding-top: 70px;
    padding-bottom: 30px;
    .subtitle {
      font-size: 16px;
      line-height: 22px;
    }
    h1 {
      color: #000;
      font-size: 30px;
      line-height: 35px;
      margin-bottom: 10px;
    }
    img {
      max-width: 80%;
      margin-top: 20px;
    }
  }
}
@media only screen and (min-width: 0px) and (max-width: 575px) {
  .singleCaseSec {
    height: auto;
    padding-top: 100px;
    padding-bottom: 30px;
    .subtitle {
      font-size: 16px;
      line-height: 22px;
    }
    h1 {
      color: #000;
      font-size: 26px;
      line-height: 30px;
      margin-bottom: 10px;
    }
    img {
      max-width: 90%;
      margin-top: 20px;
    }
  }
}
