.singleCaseSec {
  height: 700px;
  padding-top: 100px;
  .subtitle {
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 30px;
    color: #ff0004;
    margin-bottom: 10px;
  }
  h1 {
    color: #000;
    font-size: 50px;
    line-height: 60px;
  }
  .contentBox {
    p {
      color: #64748b;
    }
    ul {
      li {
        color: #64748b;
      }
    }
  }
  .imgBox {
    position: relative;

    img {
      padding: 30px;
      &::after {
        content: "";
      }
    }
  }
}
