.contentSec {
  .contentBox {
    p {
      color: #64748b;
    }
    ul {
      li {
        color: #64748b;
      }
    }
  }
  .imgBox {
    text-align: center;
    margin: auto;
  }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
  .contentSec {
    .imgBox {
      margin-bottom: 30px;
    }
  }
}
@media only screen and (min-width: 0px) and (max-width: 575px) {
  .contentSec {
    .imgBox {
      margin-bottom: 30px;
    }
  }
}
